<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <!--<add key="wsReporte.wsReporte" value="http://www.talentosdavidfischman.coom/WSPruebasReportesUPC/wsRehman.com/porte.asmx"/>
    <add key="URL_REPORTE" value="http://www.talentosdavidfischman.coom/WSPruebasReportesUPC/Reporte/"/>
    <add key="wsInteres.wsInteres" value="http://www.talentosdavidfischman.coom/WSPruebasReportesUPC/wsInteres.asmx"/>-->
    <add key="Apikey" value="682533852"/>
    <add key="wsReporte.wsReporte" value="http://talentoswin.eastus2.cloudapp.azure.com/WSReportesConsolidado/wsReporte.asmx"/>
    <add key="URL_REPORTE" value="http://localhost:11365/Reporte/"/>
    <!-- <add key="URL_JSON" value="http://sdch-upc.davidfischman.com/dashboard/report/result/json/evaluation/"/> -->
    <add key="URL_JSON" value="http://talentoslinux.eastus2.cloudapp.azure.com/dashboard/report/result/json/evaluation/"/>
    <add key="URL_JSON_TEMPERAMENTOS" value="http://talentoslinux.eastus2.cloudapp.azure.com/dashboard/report/result/json/evaluation/level/"/>
    <add key="wsInteres.wsInteres" value="http://talentoswin.eastus2.cloudapp.azure.com/WSReportesConsolidado/wsInteres.asmx"/>
    <add key="wsTemperamentos.wsTemperamentos" value="http://talentoswin.eastus2.cloudapp.azure.com/WSReportesConsolidado/wsTemperamentos.asmx"/>
    <!--<add key="wsConsolidatedReport.wsConsolidatedReport" value="http://localhost:11365/wsConsolidatedReport.asmx"/>
    <add key="wsCompatibilityReport.wsCompatibilityReport" value="http://localhost:11365/wsCompatibilityReport.asmx"/>
    <add key="wsGeneralReport.wsGeneralReport" value="http://localhost:11365/wsGeneralReport.asmx"/>-->
    <add key="wsConsolidatedReport.wsConsolidatedReport" value="http://talentoswin.eastus2.cloudapp.azure.com/WSReportesConsolidado/wsConsolidatedReport.asmx"/>
    <add key="wsCompatibilityReport.wsCompatibilityReport" value="http://talentoswin.eastus2.cloudapp.azure.com/WSReportesConsolidado/wsCompatibilityReport.asmx"/>
    <add key="wsGeneralReport.wsGeneralReport" value="http://talentoswin.eastus2.cloudapp.azure.com/WSReportesConsolidado/wsGeneralReport.asmx"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <!-- <httpRuntime maxRequestLength="2097151" shutdownTimeout="1200" executionTimeout="1200"/> -->
    <httpRuntime maxRequestLength="2097151" shutdownTimeout="9999" executionTimeout="9999"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DocumentFormat.OpenXml, Version=2.0.5022.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>