<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="strCadenaConexion2" value="server=DEVELOPERPC\SQLEXPRESS; database=db_NetFTalentos; Trusted_Connection=True"/>-->
    <!--<add key="strCadenaConexion2" value="server=db201.my-hosting-panel.com; database=msuarez_UPCTalentosPrueba; User Id=msuarez_UPCTalentosUser; Password=U1P2C3@2014"/>-->
    <add key="strCadenaConexion2" value="server=localhost; database=dbNet_UPCTalentos; User Id=sa; Password=12345"/>
    <!-- <add key="strCadenaConexion2" value="70.38.11.125\SQLEXPRESS; database=dbNet_UPCTalentos; User Id=TestTalentosUPC_UsrNet; Password=673test8702talen354$76"/>
    -->
    <add key="Apikey" value="682533852"/>
    <add key="ApiSecret" value="qVMFs28zq2jOPi5t"/>
    <add key="USEKEY_INT" value="true"/>
    <add key="USEKEY_TAL" value="true"/>
    <add key="USEKEY_TEMP" value="true"/>
    <add key="USEKEY_CONS" value="true"/>
    <add key="SMTP" value="smtp.gmail.com"/>
    <add key="PUERTO" value="587"/>
    <add key="FROM" value="upc.fischman@gmail.com"/>
    <add key="EMAILUSERNAME" value="upc.fischman@gmail.com"/>
    <add key="PASSWORD" value="U1P2C3@2014V3"/>
    <add key="ENABLESSL" value="true"/>
    <!-- Datos Correo para Notificacion Adulto -->
    <add key="FROM_FISCHMAN" value="fischman.notificacion@gmail.com"/>
    <add key="PASSWORD_FISCHMAN" value="Fischman@2014"/>
    <add key="URL_TALENTOS" value="http://localhost:42497/Talentos.aspx"/>
    <add key="URL_REPORTE" value="http://localhost:11365/Reporte/"/>
    <add key="URL_INTERES" value="http://www.talentosdavidfischman.com/ResultadosUPC/Interes.aspx"/>
    <add key="URL_REPORTE_ADULTO" value="http://www.talentosdavidfischman.com/ResultadosUPC/Talento.aspx"/>
    <add key="URL_TEMPERAMENTOS_ADULTO" value="http://www.talentosdavidfischman.com/ResultadosUPC/Temperamentos.aspx"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <trust level="Full"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>