<?xml version="1.0"?>

<configuration>


    <configSections>
      <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
            <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
            <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
            <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          </sectionGroup>
        </sectionGroup>
      </sectionGroup>
    </configSections>


  <appSettings>
    <!--<add key="strCadenaConexion2" value="server=db201.my-hosting-panel.com; database=msuarez_UPCTalentosPrueba; User Id=msuarez_UPCTalentosUser; Password=U1P2C3@2014"/>-->
    <add key="strCadenaConexion2" value="server=52.179.169.198; database=dbNet_UPCTalentos; User Id=azureadmin; Password=e5Br6KskParlZ51y"/>
    <add key="JSON_PERSONA" value="http://sdch-upc.davidfischman.com/dashboard/report/result/json/evaluation/"/>
    <add key="JSON_PERSONA_ADULTO" value="http://sdch-upc.davidfischman.com/dashboard/report/result/json/evaluation/"/>
    <add key="Apikey" value="682533852"/>
    <add key="USEKEY_INT" value="true"/>
    <add key="USEKEY_TAL" value="true"/>
    <add key="USEKEY_TEMP" value="true"/>
    <add key="USEKEY_CONS" value="true"/>
    <add key="USEKEY_GEN" value="true"/>
    <!--
    <add key="SMTP" value="smtp.gmail.com"/>
    <add key="PUERTO" value="587"/>
    <add key="FROM" value="upc.fischman@gmail.com"/>
    <add key="PASSWORD" value="U1P2C3@2014"/>
    -->
    <add key="URL_TALENTOS" value="http://www.talentosdavidfischman.com/TalentosUPC/Talentos.aspx"/>
    
    <add key="C1" value="Abogado"/>
    <add key="C2" value="Actor"/>
    <add key="C3" value="Actuario"/>
    <add key="C4" value="Administración de empresas"/>
    <add key="C5" value="Arqueólogo"/>
    <add key="C6" value="Arquitecto"/>
    <add key="C7" value="Artista (carreras varias relacionadas con el arte)"/>
    <add key="C8" value="Bancario"/>
    <add key="C9" value="Chef"/>
    <add key="C10" value="Ciencias de la Educación"/>
    <add key="C11" value="Científico"/>
    <add key="C12" value="Coach (Entrenador)"/>
    <add key="C13" value="Computación, sistemas, informática"/>
    <add key="C14" value="Comunicador social / periodista"/>
    <add key="C15" value="Consultor"/>
    <add key="C16" value="Consultor de Negocios"/>
    <add key="C17" value="Contador"/>
    <add key="C18" value="Costos (finanzas, contador, administración de empresas)"/>
    <add key="C19" value="Danzas"/>
    <add key="C20" value="Deportista profesional"/>
    <add key="C21" value="Director (diversas carreras)"/>
    <add key="C22" value="Economista"/>
    <add key="C23" value="Emprendedor, cuentapropista (independiente)"/>
    <add key="C24" value="Enfermero"/>
    <add key="C25" value="Escritor"/>
    <add key="C26" value="Escritor técnico"/>
    <add key="C27" value="Finanzas"/>
    <add key="C28" value="Gerente (diversas carreras)"/>
    <add key="C29" value="Ingeniero"/>
    <add key="C30" value="Ingeniero Agrónomo y otras carreras relacionadas con Agronomía"/>
    <add key="C31" value="Inmobiliaria"/>
    <add key="C32" value="Inversiones / bolsa"/>
    <add key="C33" value="Liquidador de sueldos (recursos humanos, relaciones laborales)"/>
    <add key="C34" value="Maestro"/>
    <add key="C35" value="Marketing"/>
    <add key="C36" value="Matemático"/>
    <add key="C37" value="Mecánico"/>
    <add key="C38" value="Médico"/>
    <add key="C39" value="Músico"/>
    <add key="C40" value="Músico y carreras asociadas (dirección, composición, instrumentista, etc..)"/>
    <add key="C41" value="Negocios (administración de empresas, comercialización)"/>
    <add key="C42" value="Oficinista, administrativo, analista"/>
    <add key="C43" value="Paisajista"/>
    <add key="C44" value="Piloto"/>
    <add key="C45" value="Pintor y demás carreras plásticas."/>
    <add key="C46" value="Político"/>
    <add key="C47" value="Profesor (de disciplinas varias)"/>
    <add key="C48" value="Psicólogo"/>
    <add key="C49" value="Psiquiatra"/>
    <add key="C50" value="Publicidad"/>
    <add key="C51" value="Recepcionista"/>
    <add key="C52" value="Relaciones públicas"/>
    <add key="C53" value="Secretario"/>
    <add key="C54" value="Seguros"/>
    <add key="C55" value="Telemarketing"/>
    <add key="C56" value="Trabajador social"/>
    <add key="C57" value="Venta en mostrador"/>
    <add key="C58" value="Ventas"/>
    <add key="C58" value="Veterinario"/>   
  </appSettings>
    <connectionStrings/>
  
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true">

          <assemblies>
            <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
          </assemblies>

        </compilation>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

      <pages>
        <controls>
          <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
          <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </controls>
      </pages>

      <httpHandlers>
        <remove verb="*" path="*.asmx"/>
        <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      </httpHandlers>
      <httpModules>
        <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </httpModules>


    </system.web>

    <system.codedom>
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
                  type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="WarnAsError" value="false"/>
        </compiler>
      </compilers>
    </system.codedom>

    <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
      <modules>
        <remove name="ScriptModule" />
        <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </modules>
      <handlers>
        <remove name="WebServiceHandlerFactory-Integrated"/>
        <remove name="ScriptHandlerFactory" />
        <remove name="ScriptHandlerFactoryAppServices" />
        <remove name="ScriptResource" />
        <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode"
             type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode"
             type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </handlers>
    </system.webServer>

    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
          <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
          <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
</configuration>
